#root {
  background-color: #e2e2e2;
  display: flex;
}

td {
  width: auto;
}

td input {
  width: 100px;
}

label {
  vertical-align: middle;
  overflow: auto;
}

.Doc-Details label,
.shipping label {
  display: flex;
  align-items: center;
}

input {
  padding: 5px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bill,
.popup {
  min-width: 850px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  background-color: #ffadb0;
  border: 1px solid #ac8989;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.Doc-Details {
  font-size: 16px;
}

.Buyer-Details,
.Doc-Details,
.bill .table,
.popup .table {
  background-color: #f9f5e7;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.Total-Row {
  font-size: 14px;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.329);
  transition: opacity 500ms;
  z-index: 1000;
}

.popup {
  margin: 50px auto 10px;
  border-radius: 15px;
  width: fit-content;
  max-width: min-content;
  position: relative;
  max-height: 90%;
  overflow: auto;
  border: 10px solid #ffadb0;
}

.popup::-webkit-scrollbar {
  width: 5px;
}
.popup::-webkit-scrollbar-track {
  background: #ffdcdd;
  border-radius: 15px;
}
.popup::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}
.popup::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 15px;
}

.popup .close {
  position: sticky;
  top: 5px;
  right: 5px;
}
.popup .close:hover {
  color: #d80606;
}

.toolbar {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #ff6d6d;
  height: 60px;
}

.sub-header {
  font-size: medium;
  font-weight: 700;
  color: #fd5c5c;
}


